<h1>Dashboard de Análises</h1>
<img src="data:image/png;base64,{{ chart }}" alt="Gêneros Mais Populares">

<h2>Top 10 Filmes Mais Votados</h2>
<ul>
    {% for movie in top_movies %}
    <li>{{ movie.title }} - Nota: {{ movie.imdbAverageRating }} ({{ movie.imdbNumVotes }} votos)</li>
    {% endfor %}
</ul>

<h2>Top 10 Séries Mais Votadas</h2>
<ul>
    {% for series in top_series %}
    <li>{{ series.title }} - Nota: {{ series.imdbAverageRating }} ({{ series.imdbNumVotes }} votos)</li>
    {% endfor %}
</ul>
