<h2 class="text-center">Configurar Modelo de Machine Learning</h2>
<form method="post">
    {% csrf_token %}

    <!-- Seleção do Modelo -->
    <div class="form-group">
        <label for="model_type">Escolha o Modelo</label>
        <select class="form-control" id="model_type" name="model_type" required>
            <option value="linear_regression">Regressão Linear</option>
            <option value="random_forest">Random Forest</option>
            <option value="decision_tree">Árvore de Decisão</option>
            <option value="knn">K-Nearest Neighbors (KNN)</option>
        </select>
    </div>

    <!-- Parâmetros Específicos -->
    <div class="form-group">
        <label for="max_depth">Profundidade Máxima (Random Forest / Decision Tree)</label>
        <input type="number" class="form-control" id="max_depth" name="max_depth" placeholder="Ex.: 5">
    </div>

    <div class="form-group">
        <label for="n_neighbors">Número de Vizinhos (KNN)</label>
        <input type="number" class="form-control" id="n_neighbors" name="n_neighbors" placeholder="Ex.: 3">
    </div>

    <button type="submit" class="btn btn-primary">Treinar Modelo</button>
</form>


<h2 class="text-center">Resultados do Modelo</h2>

{% if profile_chart %}
<div class="card mt-4">
    <h4 class="card-title text-center">Predição de Horas por Perfil</h4>
    <img src="data:image/png;base64,{{ profile_chart }}" alt="Gráfico de Predição por Perfil" class="img-fluid">
</div>
{% endif %}
